@model Bibliotech.Models.Autor

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="inter-bold">Autor Detalhes</h1>

<div class="">
    <hr />
    <dl class="row">
        <dt class="col-sm-2 inter-bold">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10 inter-regular">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2 inter-bold">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class="col-sm-10 inter-regular">
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>
    </dl>
</div>
<div>
    <a class="inter-regular btn-sm btn-custom btn-custom-bg-blue" asp-action="Edit" asp-route-id="@Model?.AutorId">Editar</a> |
    <a asp-action="Index" class="">Voltar à lista</a>
</div>
