@model Bibliotech.Models.Livro

@{
    ViewData["Title"] = "Livros";
}

<h1 class="inter-bold">Adicionar novo livro</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-group-custom">
                <label asp-for="Titulo" class="inter-medium control-label"></label>
                <input asp-for="Titulo" class="inter-medium form-control input-custom" placeholder="Insira um titulo" />
                <span asp-validation-for="Titulo" class="inter-medium text-danger"></span>
            </div>
            <div class="form-group form-group-custom">
                <label asp-for="AutorId" class="inter-medium control-label"></label>
                <select asp-for="AutorId" class="inter-medium form-control input-custom" asp-items="ViewBag.AutorId">
                    <option value="" disabled selected>Selecione um autor</option>
                </select>
            </div>
            <div class="form-group form-group-custom">
                <label asp-for="CategoriaId" class="inter-medium control-label"></label>
                <select asp-for="CategoriaId" class="inter-medium form-control input-custom" asp-items="ViewBag.CategoriaId">
                    <option value="" disabled selected>Selecione uma categoria</option>
                </select>
            </div>
            <div class="form-group form-group-custom">
                <label asp-for="AnoLancamento" class="inter-medium control-label"></label>
                <input asp-for="AnoLancamento" class="inter-medium form-control input-custom" placeholder="Qual ano foi lançado?" />
                <span asp-validation-for="AnoLancamento" class="text-danger"></span>
            </div>
            <div class="form-group form-group-custom">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
