@{
    ViewData["Title"] = "Bibliotech";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à nossa biblioteca, um mundo de histórias espera por você!</h1>
    <p>
        Saiba mais sobre <a href="https://learn.microsoft.com/aspnet/core">Criando aplicativos Web com ASP.NET Core</a>.</p>
</div>
