.input-custom {
    background-color: #E8EDF2;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}

.form-group-custom {
    margin-top: 14px;
}

    .form-group-custom label {
        font-size: 14px;
        margin-bottom: 5px;
    }
